/* Header */
#header {
    position: fixed;
    z-index: 2;
    width: 100%;
    background-color: #111111b2;
    background: var(--color-dark);
    box-shadow: 0px 1px 6px var(--box-shadow-dark);
}

.header__contain {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 68px;
    color: var(--default);
    padding: 0 8px;
    max-width: unset !important;
}

.header__logo-box {
    position: relative;
    display: flex;
    align-items: center;
    color: var(--default-bland);
}

.header__menu-bar {
    position: fixed;
    top: 68px;
    left: 0;
    bottom: 0;
    background-color: var(--color-dark);
    width: 299px;
    padding: 10px;
    opacity: 0;
    transform: translateX(-100%);
    transition: ease-in-out .2s;
}

.header__menu-bar.active {
    transform: translateX(0);
    opacity: 1;
}

.header__menu-bar-list {
    list-style: none;
}

.header__menu-bar-list .header__menu-bar-item-title:first-child {
    font-weight: 400;
}

.header__menu-bar .header__logo {
    display: block;
    width: 80px;
    height: unset;
}

.header__menu-bar-tpye-account-list {
    border-top: 1px solid #333;
}

.header__menu-bar-tpye-account-title {
    font-size: 2.5rem;
    padding-top: 10px;
    padding-left: 10px;
    font-weight: 400;
}

.header__menu-bar-item {
    display: flex;
    align-items: center;
    height: 50px;
    padding: 10px 20px;
    color: var(--default-bland);
}

.header__menu-bar-item:hover {
    border-radius: 10px;
    background-color: var(--primary-dark-bland);
    color: var(--default);
}

.header__menu-bar-item-title {
    font-size: 2.5rem;
    font-weight: 300;
    color: inherit;
}

.header__menu-bar-icon {
    font-size: 1.8rem;
    margin-right: 10px;
}

.header__feature-box {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 10px;
    margin-bottom: -10px;
    cursor: pointer;
    transition: ease .2s;
}

.header__feature-title,
.header__menu-bar-item-title {
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Likely future */
}

.header__feature-title {
    text-align: center;
    font-size: 1.2rem;
    margin-top: 5px;
}

.header__feature-title:active {
    background-color: transparent;
}

.header__logo {
    height: 50px;
}

.header__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: initial;
    transition: all linear .3s;
    cursor: pointer;
    color: var(--default);
    font-size: 2.6rem;
    margin-left: -2px;
}

.header__icon:hover {
    text-shadow: 0 0 26px rgba(226, 179, 229, 0.752);
}

.header__feature-box:nth-child(3) .header__icon {
    transform: translateY(1px);
}

.header__feature-box:hover .header__icon {
    transform: translateY(2px);
}

.header__user-avt:last-child:hover {
    text-shadow: unset;
}

.header__input-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    max-width: 888px;
}

.header__input {
    height: 38px;
    width: 100%;
    font-size: 2rem;
    padding: 0 10px;
    border-radius: 28px;
    background-color: var(--color-dark-bland);
    caret-color: transparent;
    outline: none;
    border: 2px solid;
    animation: header__input linear 6s infinite;
}

@keyframes header__input {
    0% {
        border-color: rgb(255, 0, 0);
    }

    20% {
        border-color: rgb(255, 0, 132);
    }

    40% {
        border-color: rgb(255, 242, 0);
    }

    60% {
        border-color: rgb(0, 21, 255);
    }

    80% {
        border-color: rgb(0, 255, 47);
    }

    100% {
        border-color: red;
    }
}

.header__menu-search {
    position: fixed;
    display: none;
    /* top: -60%; */
    top: 68px;
    right: 0;
    left: 0;
    width: 100%;
    height: 186px;
    justify-content: center;
    background-color: var(--color-dark);
    transition: ease .5s;
}

@keyframes header__menu-search {
    0% {}

    25% {}

    50% {}

    75% {}

    100% {}
}

.header__menu-search-title {}

.header__menu-search-key {
    position: absolute;
    text-align: center;
    height: 30px;
    line-height: 30px;
    font-size: 2rem;
    top: -100%;
    transition: all ease .1s;
    border-radius: 2px;
}

.header__input::placeholder {
    font-size: 1.6rem;
    padding-left: 6px;
    text-decoration: none;
}

.header__input::-webkit-outer-spin-button,
.header__input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.header__input[type=number] {
    -moz-appearance: textfield;
}

.header-search-icon {
    font-size: 2.3rem;
    position: absolute;
    right: 16px;
    background: transparent;
    transition: all linear .1s;
}


.header-search-icon:hover {
    rotate: -10deg;
}

.header__input-cursor {
    position: absolute;
    left: 18px;
    bottom: 20px;
    width: 20px;
    height: 2px;
}

.header__input-cursor.flicker {
    background: var(--default-bland);
}

.header__category-list {
    display: none;
    position: absolute;
}

.header__account-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 0;
}

/* .header__user-notification-icon:hover {
    animation: header__user-notification-icon linear .5s infinite;
} */

@keyframes header__user-notification-icon {
    0% {
        rotate: 0deg;
    }

    25% {
        rotate: -40deg;
    }

    50% {
        rotate: 40deg;
    }

    75% {
        rotate: -40deg;
    }

    100% {
        rotate: 0deg;
    }
}

.header__user-contain {
    position: relative;
    display: flex;
    height: 60px;
    padding: 8px 0px;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 4px;
    transition: all ease .6s;
}

.header__account-box .header__user-contain:hover {
    cursor: pointer;
}

.header__user-menu {
    position: absolute;
    display: none;
    overflow: hidden;
    top: 120%;
    right: 0;
    opacity: 0;
    padding: 16px 10px;
    border-radius: 9px;
    transition: ease .8s;
    box-shadow: 0 0 5px var(--box-shadow-dark);
    background-color: var(--color-dark);
}

.header__user-menu.active {
    display: block;
    opacity: 1;
}

.header__user-menu.active {
    display: block;
}

.header__user-menu-list {
    list-style: none;
}

.header__user-menu-item {
    font-size: 2.5rem;
    padding: 6px 12px;
    color: var(--default-bland);
    border-radius: 10px;
    white-space: nowrap;
}

.header__user-menu-item:last-child:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-top: 1px solid #333;
}

.header__user-menu-item:hover {
    cursor: pointer;
    color: var(--default);
    background-color: var(--primary-dark-bland);
}

.header__user-menu-item:last-child {
    position: relative;
    margin-top: 10px;
}

.header__user-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 16px 6px 6px;
    margin-bottom: 6px;
}

.header__user-cart-icon {
    zoom: 1.45;
}

.header__user-title {
    text-align: right;
    font-size: 1.4rem;
    font-weight: 500;
    color: yellow;
}

.header__user-name {
    font-size: 1.9rem;
    line-height: 1.8rem;
    max-width: 106px;
    font-weight: 500;
    text-align: center;
    word-wrap: break-word;
    white-space: normal;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.header__user-angle-icon {
    display: block;
    font-size: 1.8rem;
    width: 10%;
    margin: 2px 4px 0;
}

.header__user-avt {
    display: block;
    line-height: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.menu-logReg-modal {
    position: fixed;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    opacity: 1;
    transition: ease .2s;
}

.menu-logReg__sub {
    position: relative;
    display: grid;
    justify-content: center;
    grid-template-columns: 300px 399px;
    grid-template-rows: auto 80px;
    height: 599px;
    border-radius: 10px;
    background-color: var(--color-dark);
    box-shadow: 0 0 9px var(--box-shadow-dark);
}

.menu-logReg__sub-sticker {
    position: absolute;
    top: 0;
    right: 26px;
    width: 100px;
    height: 84px;
    transform: scalex(-1);
    background-repeat: no-repeat;
    background-size: 80%;
    background-image: url(../icon/stiker.png);
    transition: linear .2s;
}

.menu-logReg__sub-box {
    position: relative;
    grid-row: 1 / span 2;
    width: 299px;
    border-radius: 10px 0 0 10px;
    overflow: hidden;
}

.menu-logReg__wrap {
    position: relative;
    z-index: 2;
    background-color: var(--color-dark);
}

.menu-logReg__sub-title {
    position: absolute;
    top: 0;
    font-size: 3.6rem;
    padding: 20px 50px 20px 10px;
    font-weight: 900;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 4px 3px 2px rgba(53, 153, 199, 0.792);
}

.menu-logReg__sub-content {
    position: absolute;
    bottom: 0;
    padding: 10px;
    font-size: 1.26rem;
    line-height: 1.3;
    color: var(--default);
    /* text-shadow: 0 0 1px rgb(255, 255, 255); */
    text-align: justify;
}

.menu-logReg__sub-img {
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background-image: url(../img/menuLogReg-sub.png);
    background-size: 360%;
    background-position: 54% 64%;
    background-repeat: no-repeat;
}

.menu-logReg__sub-policy {
    font-size: 1.36rem;
    line-height: 1.6;
    padding: 0 20px;
    text-align: justify;
}

.menu-logReg__sub-policy a {
    text-decoration: underline;
    font-size: 1.3rem;
}

.menu-logReg {
    z-index: 2;
    grid-row: 1 / 2;
    width: 399px;
    padding: 20px;
    padding-bottom: 10px;
    color: var(--default);
    border-radius: 0 10px 10px;
    /* animation: menu-logReg ease 1s forwards; */
    opacity: 1;
    transition: ease .4s;
    cursor: initial;
}

.menu-logReg--register.animation,
.menu-logReg--login.animation {
    animation: menu-logReg ease .6s forwards;
}

.menu-logReg::after {
    position: absolute;
    content: '';
    right: 0;
    top: -30px;
    width: 100%;
    height: 30px;
    background-color: transparent;
}


@keyframes menu-logReg {
    0% {
        opacity: 1;
    }

    25% {
        top: 125%;
    }

    100% {
        opacity: 0;
        top: 300%;
    }

}

.menu-logReg__close-btn {
    border-radius: 50%;
}

.menu-logReg__title {
    font-size: 2.2rem;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 30px;
    width: 100%;
    text-transform: uppercase;
    font-weight: 500;
}

.menu-logReg-social {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.menu-logReg__social-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48%;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 34px;
    letter-spacing: 0.05rem;
    border: 1px solid var(--primary-dark);
    border-radius: 4px;
}

.menu-logReg__social-icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 6px;
    background-image: url(../icon/social.png);
    background-size: 609%;
    background-position: -35% 4%;
}

.menu-logReg__social-icon.fb {
    background-size: 283%;
    background-position: 0% 66%;
}

.menu-logReg__text {
    position: relative;
    align-items: center;
    padding: 20px 8px;
    text-align: center;
    font-size: 1.3rem;
    flex: 1;
}

.menu-logReg__text::before {
    position: absolute;
    content: '';
    top: 50%;
    right: 0;
    width: 40%;
    height: 1px;
    background-color: var(--primary-dark);
    opacity: 0.3;
}

.menu-logReg__text::after {
    position: absolute;
    content: '';
    top: 50%;
    left: 0;
    width: 40%;
    height: 1px;
    background-color: var(--primary-dark);
    opacity: 0.3;
}

.menu-logReg__account {
    position: relative;
    width: 100%;
    /* margin: 6px 0; */
}

.menu-logReg__account i {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 4px;
    left: -6px;
    width: 45px;
    height: 45px;
    font-size: 2rem;
}

.menu-logReg__hidePWBtn {
    opacity: 0.2;
}

.menu-logReg__account i:nth-child(2) {
    left: unset;
    right: 0;
    cursor: pointer;
}

.menu-logReg__account input {
    width: 100%;
    height: 45px;
    font-size: 2rem;
    margin: 4px 0;
    padding-left: 40px;
    /* padding-right: 40px; */
    border-radius: 4px;
    background-color: var(--color-dark-bland);
    /* outline: 1px solid var(--primary-dark) !important; */
}

.register-error-message {
    font-size: 1.3rem;
    color: var(--light-red);
    margin-left: 4px;
}

.menu-logReg__account input:focus {
    outline: 1px solid var(--primary-dark);
}

.menu-logReg__bottom {
    margin-top: 20px;
}

.menu-logReg__bottom p {
    display: inline-block;
}

.menu-logReg__bottom-wrap-btn {
    display: flex;
    justify-content: center;
    margin: 0;
    margin-top: 20px;
}

.menu-logReg__memorize {
    position: relative;
    zoom: 1.4;
    cursor: pointer;
    bottom: -2px;
    transform: translateY(1px);
    filter: invert(100%) hue-rotate(184deg) brightness(1.1);
}

.menu-logReg__memorize-text {
    font-size: 1.35rem;
    cursor: pointer;
}

.menu-logReg__text2 {
    font-weight: 600;
    float: right;
    cursor: pointer;
}

.menu-logReg__btn {
    width: 100%;
    height: 40px;
    font-size: 1.8rem;
    font-weight: 600;
    margin: 16px auto;
    border-radius: 2px;
}

.menu-logReg__box-btn-register {
    margin-top: 20px;
}

.menu-logReg__small-btn {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--primary-dark);
    margin-left: 10px;
    cursor: pointer;
    width: unset;
    height: unset;
    padding: unset;
}

/* END Header */

/* Content */
#content {
    transform: translateY(120px);
}

.content-top {
    display: flex;
    overflow: hidden;
    background-color: transparent;
    border-radius: 10px;
    background-color: transparent;
    padding: 0 4px;
}

.content-top__top-recharge {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    min-width: 296px;
    margin-right: 6px;
    border-radius: 0 4px 4px 0;
    background-image: linear-gradient(180deg,
            var(--color-dark),
            var(--color-dark-bland));
}

.top-recharge__title-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111;
    padding: 5px 0;
}

.top-recharge__title {
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    font-size: 2.3rem;
    color: var(--default);
    text-shadow: 0 0 6px rgb(0, 34, 255);
}

.top-recharge__title-icon {
    display: inline-block;
    width: 36px;
    margin-left: 6px;
    margin-top: -2px;
}

.top-recharge__list {
    list-style: none;
    opacity: 0;
    transition: opacity ease .6s;
}

.top-recharge__list.active {
    opacity: 1;
}

.top-recharge__item {
    display: grid;
    grid-template-columns: 50px 130px auto;
    padding: 0 4px;
    height: 50px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 2px;
    animation: top-recharge__item linear 16s infinite;
    background-image: linear-gradient(270deg,
            black,
            black,
            rgba(0, 255, 242, 0.227),
            black,
            black);
    background-size: 300%;
}

@keyframes top-recharge__item {
    from {
        background-position-x: 0%;
    }

    to {
        background-position-x: -300%;
    }
}

.active .top-recharge__item {
    visibility: unset;
}

.top-recharge__item:hover .top-recharge__order-icon {
    transform: translateY(-4px);
}

.top-recharge__order-icon {
    font-style: initial;
    width: 40px;
    height: 40px;
    line-height: 28px;
    font-size: 1.8rem;
    border-radius: 50%;
    color: var(--default);
    margin: auto;
    transform: translateY(0);
    transition: ease .2s;
}

.top-recharge__item:first-child .top-recharge__username {
    color: rgb(255, 0, 0);
    font-weight: 600;
    font-size: 2rem;
}

.top-recharge__username,
.top-recharge__money,
.top-recharge__order-icon {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    color: var(--default);
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.342);
}

.top-recharge__username {
    height: 2rem;
    font-size: 1.6rem;
    line-height: 2rem;
    margin-right: 4px;
    word-wrap: break-word;
    white-space: normal;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.top-recharge__money {
    text-align: right;
    font-size: 1.6rem;
    padding: 6px 0;
    margin-right: 5px;
    border-radius: 4px;
    opacity: 0.9;
    font-weight: 500;
    color: var(--yellow);
}

.content-top__intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    min-height: 100%;
    border-radius: 4px 0 0 4px;
    color: var(--default);
    background-color: var(--color-dark);
}

.content-top__intro iframe {
    width: 100%;
    height: 100%;
}

.content-top__intro-box {
    padding: 10px;
}

.content-top__intro-content {
    display: inline-block;
    width: 100%;
    line-height: 1.4;
    text-shadow: 0 0 6px rgb(0, 34, 255);
    font-size: 1.3rem;
    text-align: left;
    margin-bottom: 6px;
}

.content-top__intro-content-sub {
    display: inline-block;
    color: var(--primary-dark);
    font-weight: 500;
}

.content-top__intro-link {
    font-size: 1.3rem;
    text-decoration: underline;
    color: var(--primary-dark);
    text-shadow: initial;
}

/* FLash sale */
.flash-sale {
    width: 100%;
    margin-top: 55px;
}

.flash-sale__wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    height: 399px;
    border-radius: 10px;
    box-shadow: 0 0 3px var(--box-shadow-dark);
    background-image: url(../img/bg-flash-sale.png);
}

.flash-sale__box-top {
    display: flex;
    align-items: center;
    height: 68px;
    /* border-bottom: 1px solid var(--gray-transparent); */
}

.flash-sale__title {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 3rem;
    margin-left: 10px;
    margin-right: 26px;
    color: var(--default);
}

.flash-sale__title::before {
    position: absolute;
    content: '';
    right: -14px;
    width: 2px;
    height: 60%;
    background-color: var(--gray-transparent);
}

.flash-sale__countdown-box {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.6rem;
}

.flash-sale__countdown-times {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-dark);
    border-radius: 5px;
    color: var(--default);
    font-size: 2.2rem;
    padding: 3px 6px 1px 6px;
    letter-spacing: 1px;
    margin: 2px;
}

.flash-sale__button-box {
    margin-left: auto;
    margin-right: 10px;
}

.flash-sale__btn {
    font-size: 1.8rem;
    box-sizing: initial;
    padding: 10px;
    color: var(--default-bland);
    /* background-color: #ffffff4d; */
    border-radius: 50%;
    cursor: pointer;
    transition: linear .1s;
    text-shadow: 0 0 2px var(--default);
}

.flash-sale__btn:hover {
    scale: 1.2;
    color: var(--default);
}

.product-item__list {
    justify-content: space-around;
    list-style: none;
    flex-wrap: nowrap;
    margin-top: 30px;
    margin-bottom: 6px;
    padding: 0 6px;
    transition: ease 1s;
    overflow: hidden;
    overflow-x: scroll;
    scroll-behavior: smooth;

}

.product-item__list::-webkit-scrollbar {
    display: none;
}

.product-item {
    margin: 0;
}

.loadProduct .product-item {
    animation: loadProduct linear .6s forwards;
    opacity: 0;
}

.product-item:nth-child(2) {
    -webkit-animation-delay: .1s;
}

.product-item:nth-child(3) {
    -webkit-animation-delay: .2s;
}

.product-item:nth-child(4) {
    -webkit-animation-delay: .3s;
}

.product-item:nth-child(5) {
    -webkit-animation-delay: .4s;
}

@keyframes loadProduct {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }

    30% {
        transform: translateY(0);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.flash-sale__box-bottom {
    display: flex;
    height: 30px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.flash-sale__list-index-box {
    display: flex;
    padding: 8px 0;
}

.flash-sale__list-index {
    display: block;
    width: 20px;
    height: 3px;
    margin: 0 3px;
    border-radius: 3px;
    background-color: var(--gray-transparent);
}

.flash-sale__list-index.active {
    background-color: var(--default-bland);
}

.flash-sale__slide-process-box {
    position: relative;
    width: 100%;
    height: 2px;
    margin-bottom: auto;
    background-color: var(--gray-transparent);
}

.flash-sale__slide-process {
    position: absolute;
    width: 10%;
    top: 0;
    left: 0;
    bottom: 0;
    opacity: 0.8;
    background-color: var(--default-bland);
    /* background-color: red; */
}