/***** Mobile min *****/
@media (max-width: 375px) {

    /* Flash sale */
    .flash-sale__title {
        margin: 0 !important;
        margin-right: 5px !important;
    }

    .flash-sale__title::before {
        right: -5px !important;
    }

    /* Footer */
    .footer__get-new-box:last-child {
        flex-direction: column;
    }

    .footer__get-new-input-email {
        min-height: 38px !important;
        width: 100% !important;
    }

    .footer__get-new-submit {
        margin-left: auto;
        margin-top: 10px;
    }

    .footer__follow-title {
        white-space: normal !important;
    }

    .footer .submitForm .message {
        bottom: 26px !important;
    }
}

/***** Mobile *****/
@media (max-width: 599.99px) {
    .hide-m {
        display: none !important;
    }

    .opacity-m {
        opacity: 0;
    }

    .arrow-up-dark {
        display: none;
    }

    /* Header */
    .header__contain {
        padding: 0 3px;
    }

    .header__logo {
        display: none;
        max-width: 45px;
        height: 45px;
        margin-top: -3px;
    }

    .header__input-box {
        margin-right: 20px;
        margin-left: 10px;
    }

    .header__feature-box {
        display: none;
        margin-bottom: 0;
    }

    .header__icon {
        font-size: 3.5rem;
    }

    .header-search-icon {
        font-size: 2rem;
    }

    .header__logo-box .header__feature-box {
        display: block;
    }

    .header__feature-title {
        display: none;
    }

    .header__user-box {
        display: none;
    }

    .header__theme-icon {
        display: none;
    }

    .menu-logReg__sub {
        grid-template-columns: 368px;
        height: 520px;
    }

    .menu-logReg {
        width: unset;
    }

    .header__cart-item {
        padding: 6px 0;
    }

    .header__cart-info.price p {
        font-size: 1.9rem;
    }

    .header__cart-item-img {
        height: 50px;
        border: 1px solid rgb(19 105 183);
    }

    .flash-sale .product-item__list {
        padding: 6px;
        padding-bottom: 10px;
    }

    .flash-sale__list-index {
        margin: 5px 5px 0 5px;
    }

    /* Content */
    /* Content top */
    .top-recharge__title {
        min-width: unset !important;
        margin-left: 6px;
    }

    .content-top__intro {
        height: 360px !important;
    }

    /* FLash sale */
    .flash-sale__wrap {
        border-radius: 6px 0 0 6px;
    }

    .flash-sale__title {
        font-size: 2.8rem;
        margin: 0 10px;
    }

    .flash-sale__button-box {
        margin-right: 0;
    }

    .flash-sale__title::before {
        right: -6px;
    }

    .flash-sale__countdown-times {
        padding: 1px 3px 0 3px;
    }

    /* Stall */
    .stall__title-box span {
        flex-direction: column;
    }

    .stall__title-item {
        padding: 3px 0;
    }

    .stall__filter-menu i {
        right: 5px;
        z-index: -1;
    }

    .stall__filter-menu {
        right: 3px;
    }

    .stall__page-index {
        font-size: 2rem;
        margin: 0 3px;
    }

    /* Footer */
    .footer {
        padding: 0 5px;
    }

    .footer__get-new-box:last-child {
        display: flex;
    }

    .footer__mid {
        flex-direction: column;
    }

    .footer__get-new-box {}

    .footer__get-new-input-email {
        max-width: unset !important;
        flex: 1;
    }

    .footer__mid .footer__follow-title {
        white-space: nowrap;
    }
}

/****************************************/

/***** Mobile and Tablet *****/
@media (max-width: 959.99px) {
    .hide-mt {
        display: none !important;
    }

    .opacity-mt {
        opacity: 0;
    }

    /* header */
    .header__icon {
        font-size: 2.8rem;
    }

    .header-search-icon {
        font-size: 2.2rem;
    }

    .menu-logReg__sub-box {
        display: none;
    }

    .header__user-menu.active {
        display: block;
        opacity: 1;
    }

    .header__noti-close {
        display: block;
    }

    /* Content */
    /* Content top */
    .content-top {
        display: flex;
        flex-direction: column;
    }

    .content-top__top-recharge {
        flex-direction: row;
        align-items: center;
        height: 50px;
        margin-bottom: 3px;
        border-radius: 6px;
        margin-right: 0;
        background-image: unset;
        background-color: var(--color-dark);
    }

    .top-recharge__title-box {
        position: absolute;
        z-index: 1;
        height: 100%;
    }

    .top-recharge__title {
        align-items: flex-start;
        min-width: 150px;
        align-items: center;
        font-size: 2rem;
    }

    .top-recharge__item,
    .top-recharge__money,
    .top-recharge__username {
        background-image: unset;
        background-color: transparent;
        white-space: nowrap;
    }

    .top-recharge__list {
        display: flex;
    }

    .top-recharge__list.active {
        display: flex;
        opacity: 1;
        animation: top-recharge__list-animate-start linear 26s forwards;
    }

    @keyframes top-recharge__list-animate-start {
        0% {
            transform: translateX(0);
        }

        20% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-100%);
        }
    }

    .top-recharge__list.animate {
        animation: top-recharge__list-animate linear 30s infinite;
    }

    @keyframes top-recharge__list-animate {
        0% {
            transform: translateX(100vw);
        }

        100% {
            transform: translateX(-100%);
        }
    }

    .top-recharge__item {
        grid-template-columns: 50px auto;
        grid-template-rows: 25px 25px;
        transform: translateX(100vw);
    }

    .top-recharge__order-icon {
        display: flex;
        grid-column: 1 / 2;
        grid-row: 1 / span 2;
    }

    .top-recharge__username,
    .top-recharge__money {
        align-self: end;
        text-align: left;
        grid-column: 2 / span 2;
    }

    .top-recharge__username {
        margin: 0 6px;
        grid-row: 1 / 2;
        margin-left: 0;
        overflow: unset;
    }

    .top-recharge__money {
        border-color: transparent;
        margin-left: 0;
        margin-right: 10px;
        padding: 0;
        grid-row: 2 / span 2;
    }

    .active .top-recharge__item {
        transform: unset;
        grid-template-columns: 50px 130px auto;
        animation-delay: 0;
    }

    .top-recharge__title-icon {
        margin-left: 0;
    }

    .content-top__intro {
        height: 599px;
        border-radius: 6px;
    }

    /* Stall */

    .stall__navbar-item {
        padding: 0 16px;
    }

    .stall__page {
        height: 50px;
    }

    .stall__page-index:hover,
    .stall__page-icon:hover {
        color: #555555;
    }

    /* Footer */
    .footer {
        padding-left: 10px;
    }

    .footer__get-news {
        flex-direction: column;
    }

    .footer__get-new-box:last-child {
        padding: 0;
        margin: 0;
    }

    .footer__get-new-input-email {
        width: 60vw;
        max-width: 399px;
    }

    .footer__follow {
        margin-bottom: auto;
        max-width: 200px;
    }

    .footer__follow-title {
        font-size: 2rem;
        white-space: normal;
    }

    .footer .submitForm .message {
        bottom: -20px;
    }
}

/****************************************/

/***** Tablet *****/
@media (min-width: 600px) and (max-width: 959.99px) {
    .hide-t {
        display: none !important;
    }

    .opacity-t {
        opacity: 0;
    }

    /* Header */
    .header__logo {
        width: 56px;
        height: 56px;
    }

    .menu-logReg__sub {
        grid-template-columns: 500px;
        height: 599px;
    }

    .menu-logReg {
        width: auto;
    }

    .menu-logReg__account {
        margin: 6px 0;
    }
}

/****************************************/

/***** Tablet and PC *****/
@media (min-width: 600px) {
    .hide-tp {
        display: none !important;
    }

    .opacity-tp {
        opacity: 0;
    }

    /* header */
    .header__feature-box::before {
        content: '';
        position: absolute;
        align-self: center;
        width: 0;
        height: 3px;
        bottom: -3px;
        background-color: var(--violet);
        border-radius: 1px;
        transition: ease .3s;
    }

    .header__feature-box:hover::before {
        opacity: 1;
        width: 100%;
    }

    .header__user-contain {
        padding: 0 2px;
    }

    .header__user-contain:hover .header__user-menu.show-ml {
        display: block;
        opacity: 1;
    }
}

/****************************************/

/***** PC *****/
@media (min-width: 960px) {
    .hide-p {
        display: none !important;
    }

    .opacity-p {
        opacity: 0;
    }

    /* header */
    .header__input-contain {
        margin: 0 26px;
    }

    /* Content */
    /* Content top */
    .content-top {
        min-height: 599px;
    }

    /* footer */
    .submitForm .message {
        top: unset;
        bottom: 10px;
    }
}

/**************************************** Other ****************************************/

@media (max-width: 738px) {

    .stall__filter {
        min-width: unset;
        filter: brightness(1.01);
    }

    .stall__filter::before {
        display: block;
    }

    .stall__filter p {
        display: none;
    }
}

@media (max-width: 719px) {
    .stall .product-item {
        scale: 1.1;
        margin: 30px auto;
    }

    .stall .product-item:hover {
        scale: 1.1;
    }
}

@media (max-width: 529.9px) {
    .stall .product-item {
        scale: 1.2;
        margin: 10px auto;
    }

    .stall .product-item:hover {
        scale: 1.2;
    }
}

@media (min-width: 1200px) {
    .stall__product-contain {
        grid-template-columns: 20% 20% 20% 20% 20%;
    }
}

@media (min-width: 906px) and (max-width: 1199.9px) {
    .stall__product-contain {
        grid-template-columns: 25% 25% 25% 25%;
    }
}

@media (min-width: 720px) and (max-width: 959.9px) {
    .stall__product-contain {
        grid-template-columns: 33.3% 33.3% 33.3%;
    }
}

@media (min-width:529px) and (max-width: 719.9px) {
    .stall__product-contain {
        grid-template-columns: 50% 50%;
    }
}

@media (max-width: 529.9px) {
    .stall__product-contain {
        grid-template-columns: 100%;
    }
}

@media (min-width: 1500px) {
    .banner-sale {
        display: flex;
    }
}