/***** Mobile min *****/
@media (max-width: 375px) {}

/***** Mobile *****/
@media (max-width: 599.99px) {
    .hide-m {
        display: none !important;
    }

    .opacity-m {
        opacity: 0;
    }

    .arrow-up-dark {
        display: none;
    }

    /* Header */
    .header__contain {
        padding: 0 3px;
    }

    .header__logo {
        display: none;
        width: 45px;
        height: 45px;
        margin-top: -3px;
    }

    .header__input-box {
        margin-right: 20px;
        margin-left: 10px;
    }

    .header__feature-box {
        display: none;
        margin-bottom: 0;
    }

    .header__icon {
        font-size: 3.5rem;
    }

    .header-search-icon {
        font-size: 2rem;
    }

    .header__logo-box .header__feature-box {
        display: block;
    }

    .header__feature-title {
        display: none;
    }

    .header__user-box {
        display: none;
    }

    .header__theme-icon {
        display: none;
    }


    .menu-logReg__sub {
        grid-template-columns: 368px;
        height: 520px;
    }

    .menu-logReg {
        width: unset;
    }

    /* Content */
    /* Content top */
    .top-recharge__title {
        min-width: unset !important;
        margin-left: 6px;
    }

    .content-top__intro {
        height: 360px !important;
    }

    /* FLash sale */
    .flash-sale__wrap {
        border-radius: 6px 0 0 6px;
    }

    .flash-sale__title {
        font-size: 2.8rem;
        margin: 0 10px;
    }

    .flash-sale__button-box {
        margin-right: 0;
    }

    .flash-sale__title::before {
        right: -6px;
    }

    .flash-sale__countdown-times {
        padding: 1px 3px 0 3px;
    }

}

/****************************************/

/***** Mobile and Tablet *****/
@media (max-width: 959.99px) {
    .hide-mt {
        display: none !important;
    }

    .opacity-mt {
        opacity: 0;
    }

    /* header */
    .header__icon {
        font-size: 2.8rem;
    }

    .header-search-icon {
        font-size: 2.2rem;
    }

    .menu-logReg__sub-box {
        display: none;
    }

    /* Content */
    /* Content top */
    .content-top {
        display: flex;
        flex-direction: column;
    }

    .content-top__top-recharge {
        flex-direction: row;
        align-items: center;
        height: 50px;
        margin-bottom: 3px;
        border-radius: 6px;
        margin-right: 0;
        background-image: unset;
        background-color: var(--color-dark);
    }

    .top-recharge__title-box {
        position: absolute;
        z-index: 1;
        height: 100%;
    }

    .top-recharge__title {
        align-items: flex-start;
        min-width: 150px;
        align-items: center;
        font-size: 2rem;
    }

    .top-recharge__item,
    .top-recharge__money,
    .top-recharge__username {
        background-image: unset;
        background-color: transparent;
        white-space: nowrap;
    }

    .top-recharge__list {
        display: flex;
    }

    .top-recharge__list.active {
        display: flex;
        opacity: 1;
        animation: top-recharge__list-animate-start linear 26s forwards;
    }

    @keyframes top-recharge__list-animate-start {
        0% {
            transform: translateX(0);
        }

        20% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-100%);
        }
    }

    .top-recharge__list.animate {
        animation: top-recharge__list-animate linear 30s infinite;
    }

    @keyframes top-recharge__list-animate {
        0% {
            transform: translateX(100vw);
        }

        100% {
            transform: translateX(-100%);
        }
    }

    .top-recharge__item {
        grid-template-columns: 50px auto;
        grid-template-rows: 25px 25px;
        transform: translateX(100vw);
    }

    .top-recharge__order-icon {
        display: flex;
        grid-column: 1 / 2;
        grid-row: 1 / span 2;
    }

    .top-recharge__username,
    .top-recharge__money {
        align-self: end;
        text-align: left;
        grid-column: 2 / span 2;
    }

    .top-recharge__username {
        margin: 0 6px;
        grid-row: 1 / 2;
        margin-left: 0;
        overflow: unset;
    }

    .top-recharge__money {
        border-color: transparent;
        margin-left: 0;
        margin-right: 10px;
        padding: 0;
        grid-row: 2 / span 2;
    }

    .active .top-recharge__item {
        transform: unset;
        grid-template-columns: 50px 130px auto;
        animation-delay: 0;
    }

    .top-recharge__title-icon {
        margin-left: 0;
    }

    .content-top__intro {
        height: 599px;
        border-radius: 6px;
    }

}

/****************************************/

/***** Tablet *****/
@media (min-width: 600px) and (max-width: 959.99px) {
    .hide-t {
        display: none !important;
    }

    .opacity-t {
        opacity: 0;
    }

    /* Header */
    .header__logo {
        width: 56px;
        height: 56px;
    }

    .menu-logReg__sub {
        grid-template-columns: 500px;
        height: 599px;
    }

    .menu-logReg {
        width: auto;
    }

    .menu-logReg__account {
        margin: 6px 0;
    }

}

/****************************************/

/***** Tablet and PC *****/
@media (min-width: 600px) {
    .hide-tp {
        display: none !important;
    }

    .opacity-tp {
        opacity: 0;
    }

    /* header */
    .header__feature-box::before {
        content: '';
        position: absolute;
        align-self: center;
        width: 0;
        height: 3px;
        bottom: -3px;
        background-color: var(--primary-dark);
        border-radius: 1px;
        transition: ease .3s;
    }

    .header__feature-box:hover::before {
        opacity: 1;
        width: 100%;
    }

    .header__user-contain {
        padding: 0 2px;
    }

}

/****************************************/

/***** PC *****/
@media (min-width: 960px) {
    .hide-p {
        display: none !important;
    }

    .opacity-p {
        opacity: 0;
    }

    /* header */
    .header__input-contain {
        margin: 0 26px;
    }

    /* Content */
    /* Content top */
    .content-top {
        min-height: 599px;
    }
}

/**************************************** Other ****************************************/

/* @media (max-width: 1199.99px) {
    
    .product-item__list {
        padding-bottom: 10px;
    }
    
    
    .product-item__list::-webkit-scrollbar {
        display: unset;
        height: 6px;
    }
    
    .product-item__list::-webkit-scrollbar-track {
        background: var(--default-bland);
    }
    
    .product-item__list::-webkit-scrollbar-thumb {
        background: var(--color-dark-bland);
    }
    
    .product-item__list::-webkit-scrollbar-thumb:hover {
        background: #333;
    }
} */