/***** Mobile min *****/
@media (max-width: 375px) {
    
    .order-form__wrap {
        border-radius: 0;
     }
}

/***** Mobile *****/
@media (max-width: 599.99px) {
    .hide-m {
        display: none !important;
    }

    .opacity-m {
        opacity: 0;
    }

    .arrow-up-dark {
        display: none;
    }

    /* Nav */
    .nav.resize {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .app__mid-nav {
        margin-top: 10px;
    }

    .nav__category-title {
        padding: 6px 0;
    }

    /* Body */
    .app__top-title {
        margin-left: 10px;
        padding-top: 10px;
        height: 45px;
    }

    .app__mid-nav-search-box {
        width: 100%;
        padding-right: 10px;
        margin-bottom: 6px;
    }

    .app__mid-nav-search {
        max-width: unset;
        width: 100%;
    }

    .app__top-feature-contain {
        flex-wrap: wrap;
    }

    .app__top-feature {
        scale: 0.80;
        margin: 0;
        min-width: 26%;

    }

    /* Flash sale */
    .app__flashsale-contain {
        margin-top: 10px;
    }

    .app__top-feature-contain.flashSale {
        justify-content: space-evenly;
    }

    .app__top-feature-contain.flashSale .app__top-feature {
        width: 22%;
        height: 80px;
        scale: unset;
        min-width: unset;
        justify-content: space-evenly;
    }

    .app__top-feature-contain.flashSale .app__top-feature-text {
        margin-top: 2px;
        font-size: 1.3rem;
    }

    .app__flashsale-product-total-box {
        background-color: transparent;
    }

    .app__flashsale-product-total-box .btn-loading__text-title {
        display: none;
    }

    .app__flashsale-product-total-box .btn-loading__text-value {
        font-size: 2rem
    }

    .app__flashsale-bars-item,
    .app__flashsale-product-item {
        width: 26vw !important;
    }

    .app__flashsale-bars-item:first-child,
    .app__flashsale-product-item:first-child {
        width: 50px !important;
    }

    .app__flashsale-bars-item.sold,
    .app__flashsale-product-item.sold {
        width: 20vw !important;
    }

    .app__flashsale-page .app__mid-nav-search-box {
        padding-right: 0;
    }

    .app__flashsale-contain .app__mid-nav-search {
        width: 19vw !important;
        padding-left: 2px;
    }

    .app__flashsale-page .app__mid-nav-icon {
        display: none;
    }

    .app__flashsale-bars-nav {
        margin-bottom: 0;
    }

    .app__flashsale-product-contain-title {
        padding: 0;
    }

    .app__top-title {
        display: none;
    }

    .app__mid-title-box {
        padding-left: 10px;
    }

    .app__mid-item-wrap,
    .app__mid-item-list.title {
        padding-left:6px;
    }

    .app__mid-item {
        width: 50%;
        padding: 0 6px;
    }

    .app__mid-item:nth-child(2) {
        justify-content: center;
        text-align: center;
    }

    .app__mid-item:nth-child(3) {
        display: none;
    }

    .order-form__info-item {
        display: flex;
        /* height: 80px; */
        margin: 6px 0;
        line-height: 1;
        flex-direction: column;
    }

    .order-form__info-item-title,
    .order-form__info-item-value {
        margin: 0 !important;
    }

    .app__mid-item-list {
        padding-left: 0;
    }

    .app-bot__info-contain {
        display: flex;
        padding-bottom: 50px;
    }
}

/****************************************/

/***** Mobile and Tablet *****/
@media (max-width: 959.99px) {
    .hide-mt {
        display: none !important;
    }

    .opacity-mt {
        opacity: 0;
    }


    html {
        position: fixed;
        top: 0;
        bottom: 0;
        overflow: hidden;
    }

    /* Nav */
    .nav {
        position: fixed;
        z-index: 2;
        left: 0;
        top: 0;
        bottom: 0;
        box-shadow: 0 0 3px var(--box-shadow-dark);
    }

    .nav-top {
        padding-top: 10px;
        padding-bottom: 0;
    }

    .nav__category-options:last-child {
        margin-bottom: 10px;
    }

    .nav_bot {
        padding-top: 0px;
    }

    .nav_bot-user {
        margin-bottom: 10px;
    }

    .app-bot__info-contain::-webkit-scrollbar {
        width: 2px;
    }

    .app-bot__info-contain::-webkit-scrollbar-thumb {
        background-color: var(--gray);
    }

    /* Body */
    #body {
        margin-left: 50px;
    }

    .body__app {
        padding: 5px;
        padding-right: 8px;
    }

    .app-bot__info-contain {
        flex-wrap: wrap;
        overflow: hidden;
        overflow-y: scroll;
        max-height: 25vh;
    }

    #modal {
        display: flex;
        z-index: 10;
    }

    .deposit__contain {
        position: unset;
        max-width: 90vw;
        margin-left: auto;
        margin-right: auto;
    }

    /* Flash sale */
    .app__flashsale-bars-item,
    .app__flashsale-product-item {
        width: 15vw;
    }

    .app__flashsale-bars-item.price,
    .app__flashsale-product-item.price {
        width: 20vw;
    }

    .app__flashsale-bars-item.sold,
    .app__flashsale-product-item.sold {
        width: 10vw;
    }

    .app__flashsale-contain .app__mid-nav-search {
        width: 16vw;
    }

    .app__mid-item:nth-child(4) {
        display: none;
    }
}

/****************************************/

/***** Tablet *****/
@media (min-width: 600px) and (max-width: 959.99px) {
    .hide-t {
        display: none !important;
    }

    .opacity-t {
        opacity: 0;
    }
}

/****************************************/

/***** Tablet and PC *****/
@media (min-width: 600px) {
    .hide-tp {
        display: none !important;
    }

    .opacity-tp {
        opacity: 0;
    }

}

/****************************************/

/***** PC *****/
@media (min-width: 960px) {
    .hide-p {
        display: none !important;
    }

    .opacity-p {
        opacity: 0;
    }

    /* header */
    .header__input-contain {
        margin: 0 26px;
    }

    /* Content */
    /* Content top */
    .content-top {
        min-height: 599px;
    }

    /* FLash sale */
    .app__flashsale-page .app__mid-nav input {
        width: unset;
    }

    .app__mid-item:first-child {
        width: 200px;
        padding-left: 20px;
    }
}

/* *************************************** Other ******************************* */