.notification {
    position: fixed;
}

.simple-noti {
    top: 38px;
}

#header {
    width: 100%;
}

.header__nav {
    height: 38px;
    width: 100%;
    padding: 0 6px;
    background-color: #f8fafe;
}

.header__nav,
.header__nav-user-box,
.header__main-brand {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__nav-go-back {
    font-size: 1.8rem;
    transition: ease .2s;
}

.header__nav-go-back:hover {
    color: var(--blue);
    cursor: pointer;
}

.header__nav-go-back i {
    font-size: 1.8rem;
}

.header__nav-user-box {}

.header__nav-user-avt {
    width: 30px;
    border-radius: 50%;
}

.header__nav-user-name {
    color: #2f1c6a;
    font-size: 1.6rem;
    font-weight: 500;
    margin-right: 6px;
}

.header__nav-user-logout {}

.header__main {
    padding: 10px 0;
}

.header__main-title-box,
.header__main-title,
.header__main {
    display: flex;
    align-items: center;
}

.header__main-logo {
    height: 50px;
    margin-left: 6px;
}

.header__main-title {
    font-size: 2.6rem;
    font-weight: normal;
    color: #93c7ee;
    margin-bottom: -10px;
}

.header__main-title::before {
    display: block;
    content: '';
    width: 1px;
    height: 38px;
    background-color: #93c7ee;
    margin: 0 10px;
}

.header__main-title.uid {
    margin-left: 10px;
    padding: 0 2px;
    border-radius: 3px;
    color: var(--default);
    background-color: #3979d2;
}

.header__main-brand {
    color: var(--blue);
    font-size: 3.6rem;
    font-weight: normal;
}

.header__main-brand::after {
    display: inline-block;
    content: '';
    width: 2px;
    height: 30px;
    margin: 0 12px;
    background-color: var(--gray);
}

#content {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 100px;
    background-image: linear-gradient(120deg, #ffffff, rgb(244 246 255));
}

.content-wrap {
    width: 100%;
    padding-top: 20px;
    padding: 0 16px;
}

.content__payment-item,
.content__info-product-content-item {
    display: flex;
}

.content__info-product-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding-right: 20px;
    margin-right: auto;
}

.content__info-product-title {
    font-size: 2.2rem;
    color: #2f1c6a;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding: 3px 0;
    border-bottom: 1px solid #d5dfff;
}

.content__info-product-img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px var(--box-shadow-dark);
    border: 2px solid #d66d03;
}

.content__info-product-content-wrap {
    width: 100%;
    color: var(--default);
    padding: 16px 10px;
    border-radius: 6px;
    background-color: rgb(202 213 246);
    box-shadow: 0 0 13px rgb(128 144 159 / 35%);
}

.content__info-product-text {
    font-size: 2.3rem;
    color: #2f1c6a;
    margin: 3px 0;
    font-weight: normal;
}

.content__info-product-text.value {
    margin-left: 10px;
    font-size: 2.2rem;
    font-weight: 500;
}

.content__info-product-text.price.value[type="Đặc biệt"],
.content__info-product-text.value[type="Đặc biệt"] {
    color: #0047AB;
}

.content__info-product-text.price.value[type="Ngũ quý"],
.content__info-product-text.value[type="Ngũ quý"] {
    color: #2E8B57;
}

.content__info-product-text.price.value[type="Sảnh tiến"],
.content__info-product-text.value[type="Sảnh tiến"] {
    color: #E6AF2E;
}

.content__info-product-text.price.value[type="Lục quý"],
.content__info-product-text.value[type="Lục quý"] {
    color: #c908d3;
}

.content__info-product-text.price.value[type="Thất quý"],
.content__info-product-text.value[type="Thất quý"] {
    color: #ff0015;
}

.content__info-product-text.price.value {
    color: var(--red);
}

.content__payment-box {
    display: flex;
    flex-direction: column;
    padding: 10px 12px;
    border-radius: 10px;
    min-height: 720px;
    width: calc(100% - 32px);
    max-width: 1200px;
    border: 1px solid #d5dfff;
}

.content__info-product-img {
    box-shadow: 10px 10px 36px rgb(128 144 159 / 35%);
}

.content__info-product-content-wrap {
    background-color: transparent;
    margin-top: 60px;
    border: 1px solid #d5dfff;
}

.content__payment-title {
    text-align: center;
    font-size: 2.2rem;
    color: #2f1c6a;
    text-transform: uppercase;
    margin-bottom: 10px;
    border-bottom: 1px solid #d5dfff;
}

.content__payment-item {
    justify-content: space-between;
}

.content__payment-item.total {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #d5dfff;
}

.content__payment {
    font-size: 2rem;
    padding: 3px 0;
}

.content__payment.value {
    margin-left: 10px;
}

.content__payment.total.value {
    font-weight: 500;
    font-size: 2.1rem;
    color: var(--blue);
}

.content__payment-introduce-box,
.content__payment-giftcode-box {
    display: flex;
    height: 38px;
    margin: 6px 0;
}


.content__payment-introduce-input,
.content__payment-giftcode-input {
    border-radius: 3px;
    padding: 0 3px;
    height: 100%;
    width: 100%;
    outline: 1px solid #d5dfff;
    font-size: 1.8rem;
}

.content__payment-introduce-input.success,
.content__payment-giftcode-input.success {
    color: var(--blue);
}

.content__payment-introduce-submit:focus,
.content__payment-giftcode-input:focus {
    outline-color: var(--blue);
}

.content__payment-introduce-submit,
.content__payment-giftcode-submit {
    width: 100px;
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
    font-size: 1.5rem;
    border-radius: 3px;
    padding: 0 3px;
    margin-left: 10px;
    margin-top: 0;
    opacity: 1 !important;
}

.content__payment-introduce-submit.disable,
.content__payment-giftcode-submit.disable {
    opacity: .6 !important;
}


.content__payment-introduce-submit,
.content__payment-giftcode-submit,
.content__payment.pay {
    background-color: rgb(78 136 187);
}

.content__payment.pay {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 38px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 6px;
    overflow: hidden;
}

.content__service-container {
    margin: 60px 0;
}

.content__service-wrap {
    display: flex;
    justify-content: center;
}

.content__service-title {
    text-align: center;
    font-size: 2.2rem;
    color: #2f1c6a;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.content__service-box {
    position: relative;
    width: 299px;
    height: fit-content;
    border: 1px solid #d5dfff;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    transition: .3s ease-in-out;
    box-shadow: 0 0 3px transparent;
}

.content__service-box.select,
.content__service-box:hover {
    transform: scale(1.02);
    box-shadow: 0 0 10px #ddd;
    cursor: pointer;
}

.content__service-select-icon {
    position: absolute;
    font-size: 2rem;
    color: var(--green);
    top: 10px;
    right: 10px;
    opacity: 0;
    transition: .8s;
}

.content__service-box.select .content__service-select-icon {
    opacity: 1;
}

.content__service-label {
    text-align: center;
    color: #fc5185;
    font-size: 2rem;
    margin-bottom: 20px;
}

.content__service-sub {}

.content__service-discount-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

.content__service-discount-price {
    font-size: 1.6;
    color: var(--text-bland);
    text-decoration: line-through;
}

.content__service-discount-price,
.content__service-discount-currency {
    margin-left: 3px;
    color: var(--text-bland);
}

.content__service-discount {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 8px;
    color: #5025d1;
    background-color: #ebe4ff;
    border-radius: 20px;
    font-weight: 700;
    margin-left: 8px;
}

.content__service-price-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content__service-price {
    font-size: 3rem;
    color: #2f1c6a;
    font-weight: 500;
}

.content__service-price-currency {
    align-self: flex-end;
    text-align: end;
    margin-bottom: 4px;
    margin-left: 2px;
    font-weight: 500;
}

.content__service-button-wrap {
    display: flex;
    justify-content: center;
}

.content__service-button {
    color: #ffffff;
    background-color: #673de6;
    padding: 8px;
    width: 199px;
    border-radius: 6px;
    font-size: 2rem;
    margin-top: 20px;
    transition: 0.5s;
}

.content__service-box.select .content__service-button {
    background-color: #5025d1;
}

.content__service-button:hover {
    background-color: #5025d1;
    cursor: pointer;
}

.content__service-content-list {
    list-style: none;
    border-top: 1px solid #2f1c6a;
    margin-top: 20px;
    padding-top: 20px;
}

.content__service-content-list * {
    list-style: none;
    color: #2f1c6a;
}

.content__service-content-item {
    margin-bottom: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid #d5dfff;
}

.content__service-content-item:last-child {
    border: 0;
}

.content__service-content-item-title-box {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.content__service-content-icon {
    width: 30px;
    margin-right: 3px;
}

.content__service-content-title {
    font-size: 1.6rem;
}

.content__service-content-item-wrap {}

.content__service-content-item-box {
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.content__service-content-text {
    color: #2f1c6a;
    font-size: 1.4;
}

.content__service-voucher {
    border: 1px solid #d5dfff;
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px;
}

.content__service-link,
.content__service-voucher-text {
    color: #2f1c6a;
    font-size: 2rem;
}

.content__service-voucher-text {
    margin-bottom: 6px;
}

.content__service-link {
    font-weight: 500;
    text-decoration: underline;
}

.payment-methods {
    display: flex;
    flex-direction: column;
    /* background-color: rgb(202 213 246); */
}

.payment-methods-title,
.content__payment-email-title {
    font-size: 1.9rem;
    font-weight: normal;
    margin: 10px 0;
}

.payment-method {
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 6px;
    cursor: pointer;
}

.payment-method.disable {
    opacity: 0.6;
    cursor: default;
}

/* 
.payment-method:hover {
    background-color: var(--default);
} */

.payment-method-select-box {}

.payment-method-icon-box {
    margin-left: auto;
}

.payment-method-icon.coin {
    width: 42px;
    height: unset !important;
}

.payment-method-select-box {
    --select-color: #8caedf;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: 2px solid var(--select-color);
}

.payment-method-select {
    height: 16px;
    min-width: 16px;
    opacity: 0;
    border-radius: 50%;
    transition: ease .3s;
    background-color: var(--select-color);
}

.payment-method.active .payment-method-select {
    opacity: 1;
}

.payment-method-title {
    font-size: 1.6rem;
    margin-left: 10px;
}

.payment-method-title.money {
    font-size: 1.3rem;
}

.payment-method-icon-box {
    display: block;
    width: 38px;
    height: 38px;
    z-index: 1;
}

.payment-method-icon-box.coin img {
    width: 42px;
    height: 42px;
}

.payment-method-icon {
    width: 100%;
    height: 100%;
    border-radius: 20%;
}

.content__payment-email-box {
    margin-top: 10px;
}

.content__payment-email-box .message {
    display: block;
    padding-top: 6px;
    color: var(--light-red);
}

.content__payment-icon {
    font-size: 2rem;
    color: orange;
}

.content__payment-icon:last-child {
    color: var(--blue);
}

.content__payment-email-box-input {
    height: 35px;
    padding: 0 10px;
    font-size: 1.8rem;
    outline: 1px solid #d5dfff;
    border-radius: 6px;
    width: 100%;
}

.content__payment-email-box-input:focus {
    outline-color: var(--blue);
}

.footer {
    margin: 0;
}

.footer__last {
    padding: 20px 0;
}